.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
}
body {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  background-size: 200%;
}
.Search {
  text-align: center;
  margin-top: 10px;
}
.button {
  display: inline;
  margin: 15px;
}

h1 {
  font-family: "Dancing Script";
  text-align: center;
  color: #fff;
  margin-top: 10px;
  background: #f56a8e;
}
.card {
  margin: 20px 300px;
}
h2 {
  text-align: center;
  color: #2276b7;
}

.icon {
  display: block;
  margin: 0 auto;
  max-width: 50px;
}

.Temperature {
  text-align: center;
  color: #1e79cb;
  margin: 10px auto;
  text-decoration: none;
}

.Forecast {
  list-style: none;
  color: #124069;
  padding: 0;
  margin: 0px;
  text-align: center;
  position: center;
}

h5 {
  text-align: right;
  margin: 20px;
  color: #662436;
}
