body {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  background-size: 200%;
}

.defaultCity {
  font-family: "Dancing Script";
  text-align: center;
  color: #fff;
  margin-top: 10px;
  background: #f56a8e;
}

.container {
  margin: 20px 300px;
  padding: 10px;
  font-size: 30px;
  color: #1e79cb;
}

h5 {
  text-align: right;
  margin: 20px;
  color: #662436;
}
